{% extends '_base.html' %}
{% block title %} Book list{% endblock %}
{% block content %}
<section class="py-4 py-lg-5">
    <div class="container">
        <h1>Book list</h1>

        <ul>
            {% for revew in reviews %}
            <li>
                <span class="text-info">Review comment: </span> <span>{{ item.book.title }}</span>
                <br>
                <span class="text-info">Created on: </span><span>{{ item.book.publisher }}</span>
                <br>
                <span class="text-info">Modified on: </span><span>{{ item.book.publication_date }}</span>
                <br>
                <span class="text-info">Rating: </span><span>{{ item.book_rating }}</span>
                <br>
                <span class="text-info">Creator: </span><span>{{ item.number_of_reviews }}</span>
            </li>
          <br>
            {% endfor %}
          </ul>
    </div>
</section>
{% endblock %}

