{% extends '_base.html' %}
{% block title %} {{ book.title }} detail{% endblock %}
{% block content %}
<section class="py-4 py-lg-5">
    <div class="container">
        <h1>Book list</h1>

        <ul>
            {% for review in reviews %}
            <li>
                <span class="text-info">Review comment: </span> <span>{{ review.content }}</span>
                <br>
                <span class="text-info">Created on: </span><span>{{ review.date_created|timesince }} ago</span>
                <br>
                <span class="text-info">Modified on: </span><span>{{ review.date_edited|timesince }} ago</span>
                <br>
                <span class="text-info">Rating: </span><span>{{ review.rating }}</span>
                <br>
                <span class="text-info">Creator: </span><span>{{ review.creator }}</span>
            </li>
          <br>
            {% endfor %}
          </ul>
    </div>
</section>
{% endblock %}

