{% extends '_base.html' %}
{% block title %} Welcome to bookr{% endblock %}
{% block content %}
<section class="py-4 py-lg-5">
    <div class="container">
        <h1> Welcome to bookr</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione facere corporis debitis consectetur possimus odio cum quis, alias, voluptatum itaque maiores?</p>
        <a href="" class="btn btn-primary">Browse Books</a>
    </div>
</section>
<section class="py-4 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-4">Why we are the best</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}

